body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

* {
  padding: 0;
  border: 0;
  margin: 0;
}

/* caja principal*/
.principal {
  border-radius: 20px;
  background-color: #f7f8fa;
  border: 1px solid #f7f8fa;
  border: 3px solid black;
  padding: 2rem;
}

/* hero Image*/
.contenedor-p {
  background-image: url(/assets/backgrond1.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 2rem;
  border-radius: 20px;
  border: 3px solid pink;
  background-position-x: 100%;
  height: 20rem;
  min-height: 20rem;
}

/*Title HERO */
.title-p {
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 2.5em;
  color: #133599;
  border: 3px solid purple;
  left: 3%;
  top: 16%;
}

/* Green Button */
.button {
  background: #1af5b1;
  border-radius: 7.5px;
  position: absolute;
  bottom: 20%;
    width: 200.9px;
    height: 60px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 5%;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 800;
}

.parallelogram {
  transform: skew(-20deg);
}

.skew-fix {
  display: inline-block;
  transform: skew(20deg);
}

/* Codigo NRI */
.codigo {
  position: absolute;
  width: 126px;
  height: 21px;
  top: 2%;
  right: 2%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  border: 3px solid yellow;
}

/* logo Pikolin */
.logo {
  position: absolute;
  bottom: 3%;
  right: 3%;
  background-color: white;
  border: 3px solid orange;
}

/* caja 2 */
.box-2 {
  color: #133599;
  font-family: "Montserrat";
  font-size: 15px;
  display: flex;
  justify-content: center;
  gap: 8rem;
  font-weight: 600;
  padding: 1rem;
}

.iconn {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 2rem;
}

/* Media querie 900px*/

@media (max-width: 900px) {
  .contenedor-p {
    background-position-x: 50%;
  }
  .box-2 {
    gap: 0.5%;
  }
  .iconn {
    gap: 0.5%;
    font-size: 10px;
  }
}

/* Media querie 600px*/

@media (max-width: 600px) {
  .contenedor-p {
    background-image: url(/assets/backgrond2.png);
    margin-top: 18rem;
    height: 20rem;
    min-height: 20rem;
  }

  .title-p {
    top: -79%;
  }

  .button {
    top: -25%;
  }

  .codigo {
    transform: rotate(-90deg);
    top: 16%;
    right: -9%;
  }

  .box-2 {
    flex-direction: column;
  }

  .iconn {
    flex-direction: column;
    padding: 1rem;
    font-weight: 700;
    font-size: 16px;
    gap: 1rem;
  }
}

/* Media querie 300px*/
@media (max-width: 360px) {
    .title-p {
        font-size: 2em;
    }
    .codigo {
        
        right: -15%;
      }
      .button {
        top: -25%;
        width: 187.9px;
       height: 60px;
      }
}
